body{
  background-image: url('./background.jpg')
}

#title{
  font-family: fantasy;
  color: white
}

#div1{
   margin: 50px 200px;
}

#div2{
  margin: 80px 270px;
}

#input{
  padding: 6px;
  font-family: fantasy;
  font-size: large;
  border-color: rgb(177, 169, 184);
}


#button {
  display: inline-block;
  border-radius: 4px;
  background-color: rgb(177, 169, 184);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

#button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#button:hover span {
  padding-right: 25px;
}

#button:hover span:after {
  opacity: 1;
  right: 0;
}